<div class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">All Movies</a>
    <form (ngSubmit)="searchMovies(searchTerm)" id="searchForm" class="form-inline">
        <div class="form-group">
            <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control"
                placeholder="Search Movies">
        </div>

        <button class="btn btn-default" modal-trigger="searchResults">
            Search
        </button>
    </form>
</div>



<simple-modal title="matchingMovies" elementId="searchResults">
    <div class="list-group">
        <a class="list-group-item" *ngFor="let movie of foundMovies"
            [routerLink]="['/movies', movie.movieId]">{{movie.title}}</a>
    </div>
</simple-modal>